img.ccm-pro-image-block {
    border: 0 none;
    height: auto;
    max-width: 100%;
    resize: both;
}
.preloader-gallery {
    background : url(../images/loading.gif) center center no-repeat transparent;
}
.preloader-gallery img{
    visibility: hidden;
    opacity:0;
}