html,
body{
    color: #1E1E24;
    /* Backgroun Image options */
    background: url(http://fc00.deviantart.net/fs70/f/2013/086/3/1/facebook_cover_panda_by_alphacid-d5zfsbp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.masthead {
    color: #CBCA94;
    /* Backgroun Image options */
    background: url(http://ronepark.com/images/background-header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Border */
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 15px;
}

.masthead-nav li a{
    color: #CBCA94;
}

.mastfoot .inner p {
    color: #1E1E24;
}

.mastfoot .inner p a{
    color: #4C6821;
}

.cover .lead .btn {
    color: #CBCA94;
    background-color: #0E2A35;
}

.pro-img2231{
    width:100%;height:auto;display:block;text-align:center;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;
}
.clearfix{
    clear:both
}
.pro-img2231 img{
    margin:0 auto!important;float:none
}

img.ccm-pro-image-block {
    height: 10em;
    width: 10em;
}
