#top-header {
    background-color: #04080F;
    height: 7em;
    border-radius: 1em;
    font-family: monospace;
    text-align: center;
}

#top-header h1 {
    padding-top: 1.2em;
    color: #DAE3E5;
}

#body-header {
    background-color: #507DBC;
    margin: 0 auto;
    height: 20em;
    width: 90%;
    border-radius: 1em;
    border-left: 2em;
    border: outset;
}

.section-header {
    background-color: #DAE3E5;
    border: inset;
    border-radius: 10em;
    width: 20em;
    height: 1.8em;
    margin: 0 auto;
}

.space {
    height: 0.8em;
}

.section-header h3 {
    color: #04080F;
    font-family: monospace;
    font-size: 1.5em;
    margin-top: 0.2em;
    text-align: center;
}

#body-header p {
    color: #04080F;
    font-family: serif;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

body {
    background-color: #C2F9BB;
}

.text-input-area {
    padding-left: 12em;
    padding-right: 5em;
    padding-top: 2em;
}

.text-input-area tr td p {
    margin:20px 0;
    padding-right: 3em;
    list-style:none;
    position:relative;
    font-size: 1.2em;
    clear:both;
}

.text-input-area tr td input{
    padding: 0.4em;
    font-size: 1em;
    width: 40em;
    border:1px solid #CCCCCC;
    background:#fcfcfc;
    border-radius:5px;
    text-align: center;
    color:#BA5301;
}

.button-submit{
    padding-left: 30em;
}

.button-submit div{
    background-color: #DAE3E5;
    padding: 0.4em;
    height: 25px; 
    width: 60px;
    border: outset;
    border-radius: 10px;
}

.button-submit a {
    text-decoration: none;
    color: #7f2c22;
    margin-inside: 9px;
    margin-left: 8px
}